Source: suid-script
Section: misc
Priority: optional
Maintainer: Nowcomputing packaging team <packages@nowcomputing.com> 
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: http://www.nowcomputing.com

Package: suid-script
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Development
 This package provides a tool to allow shell scripts to run honoring setuid modes.
 This allows a non-privileged user to run those scripts just as she would run any
 other setuid binary. In order for this to happen securely you have to install the
 setuid script without world nor group writable permissions and enable the setuid
 and/or setgid permissions. suid-script will run the shell script using the uid
 and gid of the user owner and group owner if their respective bits are enabled.
